body {
    background-image: url('background.png');
    color: black;
    font-size: 1rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.description {
    margin-bottom: 10px;
}

#input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    border-width: 0px;
    border-radius: 5px;
    padding: 5px;
}

.btn {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-width: 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.btn:active {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.input {
    background-color: rgb(128, 128, 128, 0.4);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#filters {
    display: block;
}

.filters-label {
    margin-right: 20px;
}

#results {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 90vh;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

th {
    background-color: rgb(97, 94, 94);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

